<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.appmarlycordeiro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_marly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_marly_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PacientesActivity" />
        <activity android:name=".activity.CadastrarPacientesActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ConsultasActivity" />
        <activity android:name=".activity.EventosActivity"></activity>
    </application>

</manifest>